body {
    margin: 0 auto;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


table{
    border-collapse: collapse;
  /*   border: 1px solid; */
  }
  
  .celula{
    border: 1px solid;
    padding:5px;
     width: 50px;
    height: 65px; 
  }
  
  .celula2{
    border: 1px solid;
    font-size:15px;
    text-align:center;
    padding:1px;
    width: 800px;
    height: 1px;
    }
  
  .amarelo{
    background-color:rgb(255, 255, 0);
    
  }
  
  .aquamarine{
    background-color:aquamarine;
    
  }
  
  .aqua{
    background-color:aqua;
    
  }
  
  .gray{
    background-color:rgb(237, 241, 241);
    
  }
  
  .verde {
    background-color:green;
    
  }
  
  .cadetblue {
    background-color:cadetblue;
  }
  
  .darkviolet {
    background-color:darkviolet;
  }
    
   .hotpink {
    background-color:hotpink;
    
  }
  
  .orange {
    background-color:rgb(248, 127, 14);
  }
  
  .palegreen {
    background-color:palegreen;
  }
  
  
  .salmon {
    background-color:salmon;
  }
  
  .sandybrown {
    background-color:sandybrown;
  }
  
  .slategrey {
    background-color:rgb(198, 203, 207);
  }
  
  .yellowgreen {
    background-color:yellowgreen;
  }
  
  .numero{
    font-size:10px;
    display:block;
  }
  
  .caracter{
    font-size:15px;
    display:block;
    font-weight:border;
    text-align:right;
    margin: auto;
  }
  
  .sigla{
    font-size:36px;
    font-weight:border;
    text-align:center;
    display: block;
  }
  
  .descricao{
    font-size:10px;
    text-align:center;
    display:block;
    }
  
  .padrao{
  /*   background-color:; */
    padding:5px;
    width: 50px;
    height: 65px;
  }
  
  .titulo{
    font-size:50px;
    text-align:center;
    display:block;
}

footer{
      font-size: 20px;
      text-align: center;
}